node_modules/

# Allure reports
/allure-report/
/artifacts/report/allure-results/

# Environment files
.env
.env.local

# Editor & system configs
.vscode/
.idea/
.DS_Store
*.iml

# Logs
*.log
npm-debug.log*
